@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  background-color: #f1edfb;
  margin: 0;
}
/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*TITLE*/
.title h1{
  color: rgba(11, 8, 34, 0.918);
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.title h3{
  color: rgba(11, 8, 34, 0.671);
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
#search{
  border-radius: 15px;
  padding: 10px;
  height: 10px;
  border: 1px solid grey;
  background-color: rgb(219, 219, 219);
}
#submit {
  background-color: rgb(219, 219, 219);
  border: none;
}
#submit img{
  width: 25px;
  height: 25px;
}
#submit:hover{
  cursor: pointer;
}
.example{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 10px;
}

@media screen and (max-width:768px) {
  .title h1{
    font-size: 25px;
    color: rgb(11, 8, 34);
    font-family: 'Roboto', sans-serif;
  }
}
.cards{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 20px;
  padding: 12px;
  margin-top: 10px;
  width: 60%;
}

@media screen and (max-width:768px) {
  .cards{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 5px;
    padding: 12px;
    margin-top: 30px;
    width: 80%;
  }
}
.hideme{
  opacity:0;
}

.card{
  width: 156px;
  height: 156px;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
}
.card:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.363);
  box-shadow: 2px 2px 2px 2px rgb(189, 189, 189);
  transition-duration: 0.5s;
}
.card h3{
  font-size: 12px;
  color: grey;
  font-family: 'Roboto', sans-serif;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid gray;
  margin-top: 20px;
}
.foot{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 30%;
  margin: 20px;
}
@media screen and (max-width:768px){
  .foot{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: 20px;
  }
}
.footitem a {
  color: gray;
  text-align: center;
  text-decoration: none;
}



