@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  background-color: rgb(190, 190, 190);
  margin: 0;
}
.header{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}
#h1{
  color: rgb(11, 8, 34);
  font-family: 'Roboto', sans-serif;
  font-size: 0px;
}
#p{
  color: rgb(11, 8, 34);
  font-family: 'Roboto', sans-serif;
  font-size: 0px;
}
label{
  font-family: 'Roboto', sans-serif;
}
input[type=text], select, textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  font-family: 'Roboto', sans-serif;
  background-color: #4e0058;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #64006d75;
}

input[type=reset] {
  font-family: 'Roboto', sans-serif;
  background-color: #acacac;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #6b6b6b;
}

.container {
  display: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: 20px;
}

#send{
  display: none;
  width: 0px;
  height: 0px;
  background-color:  #4e0058;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 20px;
}
#send span{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 0px;
}
#send:hover{
  background-color: #64006d75;
}

.location{
  display: grid;
  grid-template-columns: auto auto;
  width: 28%;
}
.location a{
  font-family: 'Roboto', sans-serif;
  color:rgb(11, 8, 34);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color:rgb(11, 8, 34);
  margin-top: 20px;
  cursor: pointer;
}
.location a:hover{
  color: #1e2fc5;
}
.mail{
  display: grid;
  grid-template-columns: auto auto auto ;
  width: 28%;
  margin-top: 20px;
}
.mail a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color:rgb(11, 8, 34);
  margin-top: 20px;
  cursor: pointer;
}

.mail a:hover{
  color: #1e2fc5;
}

@media screen and (max-width:768px){
  .location{
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
  }
}

@media screen and (max-width:768px){
  .mail{
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    width: 80%;
    margin-top: 20px;
  }
}

.contactcontainer{
  display: none;
}